body {
  background-image: url('../images/avatar.png');
  background-repeat: repeat;
  background-position: top left;
}
div {
  background-color: #f0f0f0;
  width: 210px;
  height: 210px;
  position: absolute;
  top: 210px;
  left: 0px;
}
a {
  color: #82bce2;
  margin: 15px;
  display: block;
  text-align: right;
  font-weight: bold;
}
